$serif: 'Bitter', serif;
$sansSerif: 'Open Sans', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

td,
th {
  text-align: left;
  border: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0 0 0 0;
  list-style: none;
}