@import 'base.scss';
@import 'page.scss';


.army-list {
  width: auto;


  th, td {
    padding: .5em;
    border: 1px solid #808080;
  }

}

.page-reference {
  display: block;
}

.page-reference-inner {
  padding: .75in;
  font-size: 8pt;
}

.heading {
  font-family: $sansSerif;
}