@import 'base.scss';
@import 'page.scss';

.army-list {
  width: auto;

  th, td {
    padding: .5em;
    border: 1px solid #808080;
  }

}

.page-army-lists {
  display: block;
}

.page-army-lists-inner {
  padding: .75in;
  font-size: 8pt;
  display: block;
}

.heading {
  font-family: $sansSerif;
  margin-bottom: .2em;
}