@charset "UTF-8";
body {
  margin: 0;
  padding: 0; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 10pt;
  padding: 0;
  margin: 0; }

td,
th {
  text-align: left; }

ul {
  margin: 0;
  padding: 0 0 0 0;
  list-style: none; }

.page-background {
  background: #cccccc; }

.page-preview {
  background: white;
  margin: 0 auto;
  margin-bottom: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }

@page {
  margin: 0;
  size: letter portrait;
  -webkit-print-color-adjust: exact; }

@media print {
  .page-preview {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    background-color: white; }
  .page-background {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    /* Set the background to gray to visualize the page size in the print preview */
    background-color: gray; } }

/* Center all content within a page */
.page {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  page-break-after: always;
  padding: 0; }

page[size="Letter"] {
    width: 612pt;
    height: 792pt;
}

.card {
    width: 230px;
    height: 244pt;
    padding: 4pt;
    background: #000;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 6pt;
    line-height: 1.4;
    font-family: "Bitter", serif;
}

.page-card-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card-content-container {
  border-radius: 2pt;
  padding: 1pt;
  border-color: inherit;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: inherit;
  position: relative;
  z-index: 1;
  background: #fff; }

.card .card-content-container .content-padding {
  padding-left: 4pt;
  padding-right: 4pt; }

.card-bg {
  text-align: center;
  position: absolute;
  bottom: 0.18in;
  left: 0;
  right: 0;
  z-index: 0; }
  .card-bg .bg {
    width: 80%;
    text-align: center;
    opacity: 0.1; }

.text-medium {
  font-style: normal;
  font-weight: 500; }

.text-center {
  text-align: center; }

.keyword {
  font-style: normal;
  font-weight: 500; }

.heading {
  padding: 4pt;
  font-family: "Open Sans", sans-serif; }
  .heading .icon-wrap {
    width: 0.375in;
    height: 0.375in; }
  .heading .icon {
    width: 0.375in;
    height: 0.375in;
    float: left;
    margin-right: 4pt; }
  .heading .title {
    min-width: 0;
    min-height: auto; }
    .heading .title .primary-title {
      display: block;
      font-size: 10pt;
      font-weight: 600; }
    .heading .title .title-note {
      font-size: 11pt;
      font-weight: normal; }
    .heading .title .sub-title {
      display: block;
      font-size: 7pt; }

.table-stats {
  font-size: 6pt;
  margin-bottom: 4pt;
  font-family: "Open Sans", sans-serif; }
  .table-stats th,
  .table-stats td {
    text-align: center; }
  .table-stats th {
    padding: 0.25em 0;
    background: #ddd; }
  .table-stats td {
    font-weight: 600; }

.table-weapons {
    font-size: 6pt;
    max-width: 220pt;
}
  .table-weapons th,
  .table-weapons td {
    text-align: center;
    vertical-align: baseline;
    width: 100%; }
  .table-weapons th {
    padding: 0.3em 0.5em;
    background: #ddd;
    font-size: 5pt;
    font-family: "Open Sans", sans-serif; }
    .table-weapons th:first-child {
      padding-left: 4pt;
      text-align: left; }
    .table-weapons th:last-child {
      padding-right: 4pt; }
  .table-weapons .weapon-row .col-target,
  .table-weapons .weapon-row .col-rof,
  .table-weapons .weapon-row .col-range,
  .table-weapons .weapon-row .col-effect {
    white-space: nowrap; }
  .table-weapons .weapon-row:first-child td {
    border-top: 0; }
  .table-weapons .weapon-row td {
      border-top: 1px solid #999999;
      font-family: "Open Sans", sans-serif;
      padding: 2pt 0 3pt;
  }
    .table-weapons .weapon-row td:last-child {
      padding-right: 4pt; }
    .table-weapons .weapon-row td.col-name, .table-weapons .weapon-row td.col-target, .table-weapons .weapon-row td.col-rof, .table-weapons .weapon-row td.col-range, .table-weapons .weapon-row td.col-effect {
      font-weight: 500; }
    .table-weapons .weapon-row td.col-target {
      font-size: 90%;
      font-weight: bold; }
    .table-weapons .weapon-row td.col-effect {
      text-transform: uppercase;
      font-size: 90%;
      font-weight: bold; }
  .table-weapons .weapon-description-row td,
  .table-weapons .weapon-traits-row td {
    padding-left: 4pt;
    padding-right: 4pt; }
  .table-weapons .weapon-description-row td {
      font-size: 90%;
      padding-top: 0.5em;
  }
    .table-weapons .weapon-description-row td:first-child {
      padding-top: 0; }
  .table-weapons td:first-child {
    padding-left: 4pt;
    text-align: left; }

.weapon-traits .weapon-trait,
.weapon-traits .sub-trait,
.sub-traits .weapon-trait,
.sub-traits .sub-trait {
  padding: 0 0 0 4pt; }
  .weapon-traits .weapon-trait:first-child,
  .weapon-traits .sub-trait:first-child,
  .sub-traits .weapon-trait:first-child,
  .sub-traits .sub-trait:first-child {
      margin-top: 0;
  }
  .weapon-traits .weapon-trait::before,
  .weapon-traits .sub-trait::before,
  .sub-traits .weapon-trait::before,
  .sub-traits .sub-trait::before {
    display: inline-block;
    margin: 0 0 0 -4pt;
    content: '»'; }

.section-heading {
    font-size: 5pt;
    margin: 0;
    background: #ddd;
    padding: 1pt 4pt;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.key-value {
  margin: 0.5em 0;
  font-family: "Bitter", serif;
  font-weight: normal;
  font-size: 90%; }
  .key-value .key {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 90%;
    font-family: "Open Sans", sans-serif; }
  .key-value .note {
    font-weight: 500;
    font-size: 90%;
    font-family: "Open Sans", sans-serif; }

.sub-footer {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5pt;
  color: #808080;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1pt 0;
  line-height: 1; }

/*# sourceMappingURL=maps/main.css.map */
