body {
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0; }

td,
th {
  text-align: left;
  border: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0 0 0 0;
  list-style: none; }

.page-background {
  background: #cccccc; }

.page-preview {
  background: white;
  margin: 0 auto;
  margin-bottom: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }

@page {
  margin: 0;
  size: letter portrait;
  -webkit-print-color-adjust: exact; }

@media print {
  .page-preview {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    background-color: white; }
  .page-background {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    /* Set the background to gray to visualize the page size in the print preview */
    background-color: gray; } }

/* Center all content within a page */
.page {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  page-break-after: always;
  padding: 0; }

page[size="Letter"] {
  width: 612pt;
  height: 792pt; }

.army-list {
  width: auto; }
  .army-list th, .army-list td {
    padding: .5em;
    border: 1px solid #808080; }

.page-reference {
  display: block; }

.page-reference-inner {
  padding: .75in;
  font-size: 8pt; }

.heading {
  font-family: "Open Sans", sans-serif; }

/*# sourceMappingURL=maps/page-reference.css.map */
